<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: common_header(~{::title},~{})">
        <meta charset="UTF-8">
        <title>Add Animal</title>
    </head>
    <body>
        <div th:insert="fragments/header :: navbar"></div>

        <form action="/animal/add" method="post">
            <div class="form-group">
                <label for="name" class="col-sm-6 col-form-label">Animal</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="name" name="name" placeholder="animal">
                </div>
            </div>

            <div class="form-group">
                <label for="amount" class="col-sm-6 col-form-label">Amount</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="amount" name="amount" placeholder="amount" required>
                </div>
            </div>

            <div class="form-group">
                <label for="dangerous" class="col-sm-6 col-form-label">Dangerous?</label>
                <div class="col-sm-6">
                    <select class="form-control" id="dangerous" name="dangerous">
                        <option selected disabled value="">Choose...</option>
                        <option>YES</option>
                        <option>NO</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary" value="save">Add Animal</button>
                </div>
            </div>
        </form>
    </body>
</html>
